<ion-header>
  <ion-toolbar color="warning" class="ion-text-center">
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form class="coupon-form" [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
          <ion-input formControlName="coupon" type="text" placeholder="coupon code"></ion-input>
          <ion-button color="warning" type="submit">apply</ion-button>
        </form>
        <div *ngIf="couponRes">
          <ion-chip color="warning" *ngIf="couponRes.data.couponPrice">Code: "{{couponRes.data.couponCode}}" || Discount: -৳ {{couponRes.data.couponPrice}}</ion-chip>
        </div>
      </ion-col>
    </ion-row>
    <!-- address section -->
    <ion-row *ngIf="addressLoading">
      <ion-col size="12">
        <div class="spinner">
          <ion-spinner color="warning"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!addressLoading && selectedAddress">
      <ion-col size="12">
        <ion-list>
          <ion-radio-group #address color="warning" [value]="selectedAddress.id" (ionChange)="onSelectAddress(address.value)">
            <ion-list-header>
              <ion-label>
                Select Address
              </ion-label>
            </ion-list-header>

            <ion-item *ngFor="let address of addresses">
              <ion-radio color="warning" [value]="address.id"></ion-radio>
              <ion-label class="address">
                <p> {{address.name}} : {{address.phone}}</p>
                <p> {{address.address}}, {{address.city}}, {{address.area}}, {{address.division}}</p>
              </ion-label>
            </ion-item>
          </ion-radio-group>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list lines="none">
          <ion-item (click)="addNewAddress()">
            <ion-buttons>
              <ion-button>
                <ion-icon slot="icon-only" color="tertiary" name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-label color="tertiary" class="address"> Add new address</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- address section ends -->
    <ion-row>
      <ion-col size="12">
        <form [hidden]="true" [formGroup]="giftForm">
          <ion-list>
            <ion-item>
              <ion-checkbox (ionChange)="sendAsGift($event)" [checked]="sendGift" mode="ios" color="warning" ></ion-checkbox>
              <ion-label color="dark"> Send as gift </ion-label>
            </ion-item>
          </ion-list>
          <ion-grid *ngIf="sendGift" class="ion-no-padding">
            <ion-row class="gift-box-wrapper">
              <ion-label color="tertiary">Gift message</ion-label>
              <ion-col size="12" class="gift-box">
                <ion-textarea formControlName="message" class="rb-gift-textarea" placeholder="write something..." autofocus="true"></ion-textarea>
              </ion-col>
              <ion-col size="2" class="gift-box">
                <p class="gift-box-text" >From</p>
              </ion-col>
              <ion-col size="10" class="gift-box">
                  <ion-input formControlName="sender"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- ddd -->

          <!-- ddd -->
        </form>
        <div >
          <div class="payment-section">
            <div *ngIf="isProductLoading" class="order-amount-section">
              <div class="spinner">
                <ion-spinner color="warning"></ion-spinner>
              </div>
            </div>
            <div *ngIf="!isProductLoading" class="order-review-section">
              <div class="order-amount-section">
                <div class="total-ordered-amount-text">
                  Sub-total
                </div>
                <div class="total-ordered-amount">
                  <span *ngIf="!couponRes">
                    ৳ {{productPrice}}
                  </span>
                  <span *ngIf="couponRes">
                    <span *ngIf="!couponRes.success">
                      ৳ {{productPrice}}
                    </span>
                    <span *ngIf="couponRes.success">
                      ৳  <span style="text-decoration: line-through;">{{productPrice}}</span>
                      {{productPrice - couponRes.data.couponPrice}}
                    </span>
                  </span>
                </div>
              </div>

              <div class="shipping-cost-section">
                <div class="shipping-label">
                  Shipping cost
                </div>
                <div class="shipping-total">
                  ৳ {{shippingCost ? shippingCost : 60}}
                </div>
              </div>

              <div class="grand-total-section">
                <div class="grand-total-label">
                  Grand Total
                </div>
                <div class="grand-total-amount">
                  <span *ngIf="!couponRes">
                    ৳ {{productPrice+(shippingCost ? shippingCost : 60)}}
                  </span>
                  <span *ngIf="couponRes">
                    <span *ngIf="!couponRes.success">
                      ৳ {{productPrice+(shippingCost ? shippingCost : 60)}}
                    </span>
                    <span *ngIf="couponRes.success">
                      ৳ {{productPrice+(shippingCost ? shippingCost : 60) - couponRes.data.couponPrice}}
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <div class="payment-method-section">
              <ion-list>
                <ion-radio-group #payment color="warning" value="cod" (ionChange)="onChangePayment(payment)">
                  <ion-list-header>
                    <ion-label>
                      Select Payment Method
                    </ion-label>
                  </ion-list-header>

                  <ion-item>
                    <ion-radio color="warning" value="cod"></ion-radio>
                    <ion-label>Cash on delivery</ion-label>
                  </ion-item>

                  <!-- <ion-item>
                    <ion-radio color="warning" value="sslcommerz"></ion-radio>
                    <ion-label>SSLCOMMERZ (pay online)</ion-label>
                  </ion-item> -->
                </ion-radio-group>
              </ion-list>
            </div>
          </div>
            <ion-list>
              <ion-item>
                <ion-checkbox (ionChange)="termsAccept($event)" [checked]="terms" mode="md" color="warning" ></ion-checkbox>
                <ion-label style="margin-left: 10px" color="dark"> Accept our terms and conditions </ion-label>
              </ion-item>
            </ion-list>
          <ion-button [disabled]="cartLoading || !selectedAddress || !terms" color="warning" expand="full" (click)="onPlacingOrder()">Place Order</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
