<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">Models</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="!isDisplay" class="ion-no-padding">
    <ion-row>
      <ion-col size="6" sizeSm="6" sizeMd="3" (click)="onSelectImage(cat.slug)" *ngFor="let cat of phoneCoverCatChild">
        <ion-card>
          <ion-img [src]="cat.image"></ion-img>
          <ion-card-subtitle class="subtitle ion-text-center">{{cat.categoryName}}</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isDisplay">
    <ion-row>
      <ion-col>
        <app-phone-display [categoryImages]="phoneCovers" [backgroundImage]="backgroundImage" (selectedBackground)="onSelectProductModel($event)" (loadMoreCover)="loadData($event)"></app-phone-display>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
