:host ::ng-deep .p-dropdown {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24);
    width: 300px;
    display: flex;
    margin: auto;
}
.brand-option{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
