// footer
.footer {
  background-color: #333;

  ion-list{
    background-color: #333;

    ion-list-header{
      color: var(--ion-color-warning);
      font-weight: bold;
    }

    ion-item{
      ion-label{
        color: var(--ion-color-light-tint);
      }
    }
  }
}

.copyright{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
