    <ion-grid class="footer">
      <ion-row>
        <ion-col size="12" sizeSm="12" sizeMd="6" sizeLg="4">
          <ion-list>
            <ion-list-header>Customer Care</ion-list-header>
            <ion-item [routerLink]="['/', 'pages', 'terms-and-conditions']" color="dark">
              <ion-label color="light">Terms & Conditions</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/', 'pages', 'contact-us']" color="dark">
              <ion-label>Contact Us</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/', 'pages', 'return-and-refund']" color="dark">
              <ion-label>Return and Refund policy</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" sizeSm="12" sizeMd="6" sizeLg="4">
          <ion-list>
            <ion-list-header>Rongobuy</ion-list-header>
            <ion-item [routerLink]="['/', 'pages', 'about-us']" color="dark">
              <ion-label>About Us</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/', 'pages', 'privacy-policy']" color="dark">
              <ion-label>Privacy Policy</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/', 'pages', 'career']" color="dark">
              <ion-label>Career</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" sizeSm="12" sizeMd="6" sizeLg="4">
          <ion-list>
            <ion-list-header>Connect with us</ion-list-header>
            <ion-item color="dark">
              <ion-buttons>
                <ion-button>
                  <a href="https://www.facebook.com/rongobuy/" target="_blank" rel="noopener">
                    <ion-icon color="light" slot="icon-only" name="logo-facebook"></ion-icon>
                  </a>
                </ion-button>
              </ion-buttons>
              <ion-label >160K people like this</ion-label>
            </ion-item>
            <ion-item color="dark">
              <ion-buttons>
                <ion-button>
                  <a href="https://www.instagram.com/rongobuy/" target="_blank" rel="noopener">
                    <ion-icon color="light" slot="icon-only" name="logo-instagram"></ion-icon>
                  </a>
                </ion-button>
                <ion-button>
                  <a href="https://www.pinterest.com/rongobuy/" target="_blank" rel="noopener">
                    <ion-icon color="light" slot="icon-only" name="logo-pinterest"></ion-icon>
                  </a>
                </ion-button>
                <ion-button>
                  <a href="https://www.linkedin.com/company/rongobuy/" target="_blank" rel="noopener">
                    <ion-icon color="light" slot="icon-only" name="logo-linkedin"></ion-icon>
                  </a>
                </ion-button>
                <ion-button>
                  <a href="https://twitter.com/rongobuy/" target="_blank" rel="noopener">
                    <ion-icon color="light" slot="icon-only" name="logo-twitter"></ion-icon>
                  </a>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="copyright">
            <ion-note>© All Rights Reserved | Rongobuy private Limited</ion-note>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
