<ion-header>
  <app-main-header></app-main-header>
</ion-header>

<ion-content>
  <!-- search result section -->
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="isLoadingSearch" size="2" sizeSm="2" sizeMd="2" sizeLg="2" offset="5" offsetSm="5" offsetMd="5" offsetLg="5">
        <ion-spinner color="warning"></ion-spinner>
      </ion-col>
      <ion-col *ngIf="searchData" size="12" sizeSm="12" sizeMd="10" sizeLg="8" offsetMd="1" offsetLg="2">
        <!-- <app-search-results [data]="searchData"></app-search-results> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- search result section ends -->

  <!-- main page -->
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="isPageAvailable">

        <!-- page title -->
        <h2 *ngIf="page" style="color: #888" class="ion-text-center">{{ page.pageTitle }}</h2>

        <!-- page content section -->
        <span *ngIf="page" id="page-content" [innerHTML]="page.content"></span>

        <ion-grid *ngIf="page">
          <ion-row>
            <ion-col>
              <div *ngIf="!page.content" class="spinner" style="height: 60vh">
                <ion-icon color="medium" style="font-size: 50px" name="document"></ion-icon>
                <ion-label color="medium">No page found</ion-label>
                <ion-button color="warning" [routerLink]="['/']">Go to Home</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
      <ion-col *ngIf="!isPageAvailable">
        <div class="spinner">
          <ion-spinner color="warning"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- main page -->
<app-footer></app-footer>
</ion-content>
