<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">Customize Phone Cover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col sizeSm="12" sizeMd="6" sizeLg="4">
        <!-- phone select -->
        <div class="phone-model">
          <p-dropdown (onChange)="onChangeArea()" [options]="area" [(ngModel)]="selectedArea" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Phone Model">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value"  *ngIf="selectedArea">
                <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" /> -->
                <div>{{selectedArea.name}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <!-- phone select -->

        <!-- customization image section -->
        <!-- <div class="customize-img">
          <ion-img
            class="canvas"
            [ngStyle]="{'margin-left.px': marginLeft, 'margin-top.px': marginTop, 'transform': 'scale('+scale+')'}"
            [src]="logo">
          </ion-img>

          <ion-img class="canvas" [src]="selectedArea.img"></ion-img>
          <div
            class="canvas overlay"
            (wheel)="pinch($event)"
            (panup)="panUp($event)"
            (pandown)="panDown($event)"
            (panright)="panRight($event)"
            (panleft)="panLeft($event)">
          </div>

          <ion-img class="logo-img" [src]="logo"></ion-img>
        </div> -->

        <div  class="customize-section">
          <!-- <ion-img
            class="canvas-img-section"
            [ngStyle]=""
            [src]="logo">
          </ion-img> -->

          <div id="screen">

            <img #screen
              [ngStyle]="{
                'margin-bottom.px': 20,
                'background-image': 'url('+backgroundImg+')',
                'background-size.%': canvasImgBack.size,
                'background-repeat': 'no-repeat',
                'background-position-x.px': canvasImgBack.x,
                'background-position-y.px': canvasImgBack.y
              }"
              [src]="selectedArea.img"
            >
            <!-- <img style="width: 153px; margin-top: -333px; margin-left: 100px;" [src]="selectedArea.img">
            <p style="margin-bottom: 333px; margin-top: -333px; margin-left: 100px;">Hello</p> -->
          </div>
          <div
            class="canvas overlay"
            [ngStyle]="{'cursor': cursor}"
            (click)="initialClick()"
            (wheel)="pinch($event)"
            (panup)="panUp($event)"
            (pandown)="panDown($event)"
            (panright)="panRight($event)"
            (panleft)="panLeft($event)">
          </div>
          <!-- <ion-button (click)="initialClick()" *ngIf="img !== undefined || img !== ''" class="upload-btn"><ion-icon name="cloud-upload"></ion-icon></ion-button> -->
        </div>
        <!-- customization image section -->
        <!-- <p #p style="height: 400px; background: #888"> </p> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" offset="5">
        <div class="card">
          <div style="margin-bottom: -20px">
              <!-- <p-speedDial [model]="tooltipItems" radius="80" type="circle" buttonClassName="p-button-warning"></p-speedDial>
              <p-speedDial [model]="tooltipItems" radius="80" direction="down" type="semi-circle"></p-speedDial>
              <p-speedDial [model]="tooltipItems" radius="80" direction="left" type="semi-circle"></p-speedDial>
              <p-speedDial [model]="tooltipItems" radius="80" direction="right" type="semi-circle"></p-speedDial>
              <p-speedDial [model]="tooltipItems" radius="120" direction="up-left" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
              <p-speedDial [model]="tooltipItems" radius="120" direction="up-right" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
              <p-speedDial [model]="tooltipItems" radius="120" direction="down-left" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial>
              <p-speedDial [model]="tooltipItems" radius="120" direction="down-right" type="quarter-circle" buttonClassName="p-button-success"></p-speedDial> -->
              <p-speedDial [model]="tooltipItems" radius="80" direction="up" type="semi-circle"></p-speedDial>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <div>
          <!-- <ion-button (click)="captureScreen()">
            <ion-icon name="print" size='small' slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button  (click)="addBG()">
            <ion-icon name="add" size='small' slot="icon-only"></ion-icon>
          </ion-button>
          <input #addbg hidden id="bg-img" type="file" name="bg_img" value="" (change)="onUpload($event)"> -->

          <!-- <div id="pdfContent">
            <h1>Testing this to pdf</h1>
          </div> -->
          <a #downloadLink hidden></a>
          <!-- <img #imgg [src]="img"> -->
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
