$boxShadow: #0000001c;
$borderTop: #0808080a;


:host ::ng-deep .p-dropdown {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 8px 8px 0 $boxShadow;
    padding-left: 20px;
    border: none;
    border-top: 0.5px solid $borderTop;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.phone-model{
  margin: 10px 20px 0 20px;
}


.customize-section{
  margin-top: 25px;

  .canvas {
    width: 100%;
    height: auto;
    position: absolute;
  }

  .overlay{
    z-index: 11;
    background: transparent;
    cursor: move;
    position: absolute;
    top: 85px;
    height: 425px;
    background: #0000;
    width: 80%;
    left: 10%;
  }

  .upload-btn{
    position: absolute;
    left: 42%;
    // top: 50%;
  }

}

.textContext:hover {
  border: 1px solid #666;
}

:host ::ng-deep .p-speeddial {
  box-shadow: 0 8px 8px 0 #33333361;
  border-radius: 50%;
}

.card{
  height: 80px;
  z-index: 123;
  position: relative;
}

#imgg{
  display: block;
  width: 200px;
}
