$boxShadow: #0000001c;
$borderTop: #0808080a;


:host ::ng-deep .p-dropdown {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24);
  width: 300px;
  display: flex;
  margin: auto;
}

.phone-model{
  margin: 10px 20px 25px 20px;
}


.customize-section{
  //phone-modelmargin-top: 25px;

  .canvas {
    width: 100%;
    height: auto;
    position: absolute;
  }

  .overlay{
    z-index: 11;
    background: transparent;
    cursor: move;
    position: absolute;
    top: 85px;
    height: 425px;
    background: #0000;
    width: 80%;
    left: 10%;
  }

  .upload-btn{
    position: absolute;
    left: 42%;
    // top: 50%;
  }

}

.textContext:hover {
  border: 1px solid #666;
}

:host ::ng-deep .p-speeddial {
  box-shadow: 0 8px 8px 0 #33333361;
  border-radius: 50%;
}

.card{
  height: 80px;
  z-index: 123;
  position: relative;
}

#imgg{
  display: block;
  width: 200px;
}
  ion-tab-button {
    --background: var(--ion-color-dark-tint);
    --color-selected: var(--ion-color-warning);
    padding-bottom: 10px;
  }
.makeTop{
  z-index: 100000;
  background: #fff;
}
  .action-icon{
    position: absolute;
    background: #fff0;
    border-radius: 50%;
    border: 1px solid #0606060f;
    cursor: pointer;
    font-size: 30px;
    z-index: 100000000;
  }

  .close-img{
    right: -20px;
    top: -20px;
  }
  .resize-img{
    left: -20px;
    bottom: -20px;
  }
  .rotate-img{
    right: -20px;
    bottom: -20px;
  }
