<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Customize Phone Cover</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="captureScreen()">
        <ion-icon name="log-in" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <p-dropdown (onChange)="onChangeArea()" [options]="phoneModels" [(ngModel)]="selectedPhoneModel" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Phone Model">
      <ng-template pTemplate="selectedItem">
        <div class="country-item country-item-value" *ngIf="selectedPhoneModel">
          <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" /> -->
          <div>{{selectedPhoneModel.name}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #contentFull style="overflow: hidden;">
    <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="makeTop" size="12" sizeSm="12" sizeMd="6" sizeLg="4"></ion-col>
          <ion-col size="12" sizeSm="12" sizeMd="6" sizeLg="4">

            <div style="margin-top: -1px; margin-left: -1px"  #screen  class="customize-section">
              <div id="screen">

                <!-- mockup image -->
                <img #mainSlot
                  crossorigin="*"
                  onContextMenu="return false;"
                  [ngStyle]="{
                    'pointer-events': 'none',
                    'margin-bottom.px': -4,
                    'position': 'relative',
                    'z-index': 1000
                  }"
                  [src]="selectedPhoneModel ? selectedPhoneModel.mainImage : selectedArea.img"
                >
                <!-- bg image -->
                <img [hidden]="!backgroundImg" #bgImage
                  [ngStyle]="{
                    'position': 'absolute',
                    'width.%': 100,
                    'height': 'auto',
                    'left.px': controlImageParam.left,
                    'top.px': controlImageParam.top,
                    'bottom.px': 0,
                    'z-index': 100,
                    'transform': transform
                  }"
                  [src]="backgroundImg"
                >
                <!-- text overlay -->
                <div  *ngIf="textEditor.text !== ''" #mainText
                  [ngStyle]="{
                    'position': 'absolute',
                    'width': 'fit-content',
                    'color': textEditor.styleParams.color,
                    'font-weight': textEditor.styleParams.font.weight,
                    'font-size.px': textEditor.styleParams.font.size,
                    'padding': '2px 6px',
                    'height': 'auto',
                    'left.px': 100,
                    'top.px': 100,
                    'z-index': 200,
                    'transform': transformText
                  }"
                >{{textEditor.text}}</div>
                <!-- layer to control image -->
                <div [hidden]="!backgroundImg"
                  [ngStyle]="{
                    'position': 'absolute',
                    'width.px': bgImage.offsetWidth,
                    'height.px': bgImage.clientHeight,
                    'left.px': controlImageParam.left,
                    'top.px': controlImageParam.top,
                    'background': '#3330',
                    'border': '0.5px solid #3332',
                    'z-index': 1100,
                    'transform': transform
                  }"
                    (click)="imageClick()"
                    (panstart)="startXYZ($event)"
                    (pinchstart)="startXYZ($event)"
                    (rotatestart)="startXYZ($event)"
                    (panmove)="moveXYZ($event)"
                    (pinchmove)="moveXYZ($event)"
                    (rotatemove)="moveXYZ($event)"
                    (panend)="endXYZ($event)"
                    (pinchend)="endXYZ($event)"
                    (rotateend)="endXYZ($event)"
                  >
                    <ion-icon [hidden]="hideImageActions"
                      [ngStyle]="{
                        'transform': 'rotate('+controlImageParam.rotate+'deg)'
                      }"
                      (click)="deleteImage()" class="action-icon close-img" color="dark" name="close-circle"></ion-icon>
                  </div>
                  <!-- text overlay -->
                  <div *ngIf="textEditor.text !== ''"
                    [ngStyle]="{
                      'position': 'absolute',
                      'width': 'fit-content',
                    'font-size.px': textEditor.styleParams.font.size,
                      'padding': '2px 6px',
                      'height': 'auto',
                      'color': '#3330',
                      'left.px': 100,
                      'top.px': 100,
                      'z-index': 2100,
                      'background': textBackground,
                      'transform': transformText
                    }"
                    (click)="textClick()"
                    (dblclick)="editedText({
                      text : this.textEditor ? this.textEditor.text : '',
                      styleParams: this.textEditor ? this.textEditor.styleParams : this.textStyleParams
                    })"
                    (panstart)="textStartXYZ($event)"
                    (pinchstart)="textStartXYZ($event)"
                    (rotatestart)="textStartXYZ($event)"
                    (panmove)="textMoveXYZ($event)"
                    (pinchmove)="textMoveXYZ($event)"
                    (rotatemove)="textMoveXYZ($event)"
                    (panend)="textEndXYZ($event)"
                    (pinchend)="textEndXYZ($event)"
                    (rotateend)="textEndXYZ($event)"
                    > {{textEditor.text}}
                    <ion-icon [hidden]="hideImageActions || textEditor.text === ''"
                      [ngStyle]="{
                        'transform': 'rotate('+controlImageParam.rotate+'deg)'
                      }"
                      (click)="deleteText()" class="action-icon close-img" color="dark" name="close-circle"></ion-icon>
                  </div>
                  <!-- new addition added / -->
                  <!-- old logo version -->
                <div style="position: relative">
                </div>
                <!-- old logo version /-->
              </div>
              <!-- old overlay -->
              <div
                class="canvas overlay"
                [ngStyle]="{'cursor': cursor}"
              >
              </div>
              <div
                class="canvas overlay"
                [ngStyle]="{'cursor': cursor}"
                (panstart)="startXYZ($event)"
                (pinchstart)="startXYZ($event)"
                (rotatestart)="startXYZ($event)"
                (panmove)="moveXYZ($event)"
                (pinchmove)="moveXYZ($event)"
                (rotatemove)="moveXYZ($event)"
              >
              </div>
              <!-- old overlay /-->
            </div>
          <!-- customization image section -->
          <!-- <p #p style="height: 400px; background: #888"> </p> -->
          <div *ngIf="backgroundImg || textEditor.text !== ''" class="resizeCtrl" [hidden]="hideImageActions">
            <p>Rotate</p>
            <ion-icon color="medium" name="refresh"></ion-icon>
            <p-slider *ngIf="isImgEditor" (onChange)="pSlider($event, 'rotate')" [(ngModel)]="controlImageParamConst.adjustRotation" [min]="-360" [max]="360" [step]="1" [animate]="true" orientation="vertical"></p-slider>
            <p-slider *ngIf="!isImgEditor" (onChange)="pSliderText($event, 'rotate')" [(ngModel)]="controlTextParamConst.adjustRotation" [min]="-360" [max]="360" [step]="1" [animate]="true" orientation="vertical"></p-slider>
          </div>

          <div *ngIf="backgroundImg || textEditor.text !== ''" class="rotateCtrl" [hidden]="hideImageActions">
            <p>Zoom</p>
            <ion-icon color="medium" name="add-circle"></ion-icon>
            <p-slider *ngIf="isImgEditor" (onChange)="pSlider($event, 'zoom')" [(ngModel)]="controlImageParamConst.adjustScale" [min]="0.1" [max]="5" [step]="0.01" [animate]="true" orientation="vertical"></p-slider>
            <p-slider *ngIf="!isImgEditor" (onChange)="pSliderText ($event, 'zoom')" [(ngModel)]="controlTextParamConst.adjustScale" [min]="0.1" [max]="5" [step]="0.01" [animate]="true" orientation="vertical"></p-slider>
          </div>
        </ion-col>
        <ion-col class="makeTop" size="12" sizeSm="12" sizeMd="6" sizeLg="4">


        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
    <ion-grid  class="mainTop">
    <ion-row>
      <div>
        <input #addbg hidden id="bg-img" type="file" name="bg_img" value="" (change)="onUploadBackgroundImage($event, 'background')">
        <input #addLogo hidden id="logo-img" type="file" name="logo_img" value="" (change)="onUploadBackgroundImage($event, 'logo')">
        <a #downloadLink hidden></a>
        <img hidden [ngStyle]="{'background-image': 'url('+img+')'}" [src]="img">
      </div>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="addBackgroundCover()">
          <ion-icon name="image"></ion-icon>
          <ion-label>IMAGE</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="editedText({
                    text : this.textEditor ? this.textEditor.text : '',
                    styleParams: this.textEditor ? this.textEditor.styleParams : this.textStyleParams
                    })">
        <ion-icon name="text"></ion-icon>
        <ion-label>TEXT</ion-label>
      </ion-tab-button>
      <!-- <ion-tab-button (click)="addLogoImage()">
        <ion-icon name="tablet-portrait-sharp"></ion-icon>
        <ion-label>Background Image</ion-label>
      </ion-tab-button> -->
      <ion-tab-button (click)="captureScreen()">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>NEXT</ion-label>
      </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
