.mobile{
  ::ng-deep ion-img.icon-button {
    background: var(--ion-color-warning-tint)!important;
    color: white;
    border-radius: 50% !important;
  }
  :host ::ng-deep .mobile .tabs-inner {
    position: unset!important;
    contain: size style!important;
    border-radius: 50% !important;
  }
  .bottom-tab-bar {
    --background: transparent;
    --border: 0;
  }
  ion-tab-button {
    --background: var(--ion-color-dark-tint);
    --color-selected: var(--ion-color-warning);
  }
  .button-center {
    --background: transparent!important;
      border-radius: 50%;
    ion-icon {
      height: 50px;
      width: 50px;
      font-size: 75px;
    }
  }
}
.desktop{
    flex-direction: row !important;
    justify-content: center;

  .button-center{

  }
  ion-tab-bar{
    position: absolute;
    width: 100%;
    margin: auto;
    border: none;
    --background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 12%;
  }
  ion-tab-button {
    --background: transparent;
    --color: var(--ion-color-dark);
    --color-selected: var(--ion-color-warning-shade);

    ion-label {
        font-weight: 500;
        font-size: 14px;
    }
  }

    .logo{
      margin-left: 20px;
    }
    .menu-search{
      width: 300px;
      --border-radius: 20px;
      padding: 0px;
      margin: 0;
      transform: scale(1, 0.75);
      --box-shadow: 0 0 0px 1px #0005;
    }
}

