<ion-tabs class="desktop" *ngIf="desktop">
  <ion-tab-bar slot="top" class="bottom-tab-bar">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label *ngIf="showTabTitle">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/','category', 'phone-cover']"    class="inner-left-btn">
      <ion-icon name="apps-sharp"></ion-icon>
      <ion-label *ngIf="showTabTitle">Category</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/','phone-customizer']"  class="inner-left-btn">
      <ion-icon name="phone-portrait-sharp"></ion-icon>
      <ion-label *ngIf="showTabTitle">Customize</ion-label>
    </ion-tab-button>
    <ion-tab-button class="button-center">
      <ion-img style="width:150px" src="../../assets/logo/logo.gif"></ion-img>
    </ion-tab-button>
    <ion-tab-button tab="wishlist" class="inner-right-btn">
      <ion-icon name="heart"></ion-icon>
      <ion-label *ngIf="showTabTitle">Wishlist</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="carts">
      <ion-icon name="cart"></ion-icon>
      <ion-label *ngIf="showTabTitle">Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label *ngIf="showTabTitle">Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-tabs class="mobile" *ngIf="!desktop">
  <ion-tab-bar slot="bottom" class="bottom-tab-bar">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label *ngIf="showTabTitle">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/','category', 'phone-cover']"    class="inner-left-btn">
      <ion-icon name="apps-sharp"></ion-icon>
      <ion-label *ngIf="showTabTitle">Category</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="wishlist" class="inner-right-btn">
      <ion-icon name="heart"></ion-icon>
      <ion-label *ngIf="showTabTitle">Wishlist</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="carts" class="inner-right-btn">
      <ion-icon name="cart"></ion-icon>
      <ion-label *ngIf="showTabTitle">Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label *ngIf="showTabTitle">Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

