.mobile{
  ::ng-deep ion-img.icon-button {
    background: var(--ion-color-warning-tint)!important;
    color: white;
    border-radius: 50% !important;
  }
  :host ::ng-deep .mobile .tabs-inner {
    position: unset!important;
    contain: size style!important;
    border-radius: 50% !important;
  }
  .bottom-tab-bar {
    --background: transparent;
    --border: 0;
  }
  ion-tab-button {
    --background: var(--ion-color-dark-tint);
    --color-selected: var(--ion-color-warning);
  }
  .button-center {
    --background: transparent!important;
      border-radius: 50%;
    ion-icon {
      height: 50px;
      width: 50px;
      font-size: 75px;
    }
  }
}
.desktop{
    flex-direction: row !important;
    justify-content: center;
  ion-tab-bar{
    position: absolute;
    width: 70%;
    margin: auto;
    border: none;
    --background: transparent;
  }
  ion-tab-button {
    --background: transparent;
    --color: var(--ion-color-dark);
    --color-selected: var(--ion-color-warning-shade);
  }
}

