<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">Phone Brands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col *ngIf="!phoneCoverCat">
        <div class="spinner">
          <ion-spinner color="warning"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="phoneCoverCat">
      <!-- <ion-col size="12" sizeSm="12" sizeMd="6" offsetMd="3">
        <app-phone-selector (hideOverlay)="onHiddenOverlay($event)" (modelSelected)="onSelectModel($event)"></app-phone-selector>
      </ion-col> -->
    </ion-row>
    <ion-row *ngIf="phoneCoverCat">
      <ion-col (click)="onRoute(brand.slug)" size="3" sizeSm="3" sizeMd="3" *ngFor="let brand of phoneCoverCat.child" >
        <ion-card>
          <ion-img [src]="brand.image"></ion-img>
          <ion-card-subtitle class="subtitle ion-text-center">{{brand.categoryName}}</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
