ion-content{
  --background: linear-gradient(90deg, rgba(255,123,0,1) 0%, rgba(237,255,0,0.9416900549282213) 100%);

  .cart-badge{
    position: absolute;
    top: 7px;
    right: 10px;
  }
    ion-toolbar{
      --background: linear-gradient(90deg, rgba(255,123,0,1) 0%, rgba(237,255,0,0.9416900549282213) 100%);
    }

    .fullscreen{
      height: 100%;

        .title-wrapper{
          z-index: 15;
          margin-top: -20px;

          .title{
            text-align: center !important;
            color: #000;
            font-weight: bold;
            text-shadow: 2px 2px 3px #0000007d;
            font-size: 18px;
          }
        }


      .upper-part{

        // ion-img{
        //   width: 150px;
        //   height: 300px;
        // }
        height: 25%;
        display: inline;

        ion-slides{
          height: 350px;

          ion-img{
            height: 100%;
          }
        }
      }

      .bottom-part{
        background: #fff;
        height: 75%;
        border-radius: 20px 20px 0 0;
        margin-top: -270px;
        padding-top: 270px;
        box-shadow: 0 -2px 10px 5px #22222217;


        .regular-price{
          display: flex;
          flex-direction: column;
          font-weight: bold;
          font-size: 15px;
          justify-content: center;
        }

        .rating{
          margin-right: 15px;
        }

        .description{
          background: #fff;
          padding: 35px 15px 50px 15px;
          letter-spacing: 1.1px;
          line-height: 1.7;
          font-size: 14px;
          text-align: justify;

          ion-segment{
            margin-bottom: 30px;
            --background: #f8f8f8;
          }
        }


        .reviews{
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 8px 8px 0 #0000001c;
          margin-bottom: 20px;

          .header{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: left;
            align-items: center;

            .name{
              width: 50%;
              color: #333;
              font-weight: bold;

              ion-icon{
                margin-right: 5px;
              }
            }
          }
          .body{
            color: #888;
            font-weight: bold;
            font-size: 12px;
            margin-top: 10px;
          }
        }
      }
    }


    .actions{
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      background: #fff;
    }

}
