<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="6" sizeSm="6" sizeMd="4" sizeLg="3" *ngFor="let phoneCover of categoryImages; let i = index" (click)="onClickProduct(i)">
      <ion-card class="ion-no-padding ion-no-margin">
        <img
          onContextMenu="return false;"
          [ngStyle]="{
            'pointer-events': 'none',
            'margin-bottom.px': 20,
            'background-image': 'url('+phoneCover.image+'_210x350.png)',
            'background-size.%': 100,
            'background-repeat': 'no-repeat',
            'background-position-x.px': 0,
            'background-position-y.px': 0,
            'z-index': 1000,
            'position': 'relative'
          }"
          [src]="backgroundImage">
          <ion-card-content class="price">
              <p class="title">{{productName}}</p>
              <ion-label class="ion-text-right ion-padding-right">৳ <span *ngIf="productPrice !== phoneCover.price" style="text-decoration: line-through; font-weight: 400;">{{productPrice}}</span> {{phoneCover.price}}</ion-label>
          </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-infinite-scroll threshold="50%" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="lines"
        loadingText="Loading more products...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-row>
</ion-grid>
