<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col style="margin:auto" class="ion-text-center" size="12" sizeSm="12" sizeMd="6" sizeLg="4">
      <ion-card class="no-padding">
        <ion-card-header class="ion-text-left">Phone Number</ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label color="success">
              <ion-chip>(+880)</ion-chip>
              </ion-label>
            <ion-input maxLength="11" inputmode="numeric" color="warning"></ion-input>
          </ion-item>
            <ion-button size="lg" expand="full" color="warning">
              Sign up
            </ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>

