<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="card">
          <ion-img src="../../assets/images/productone.png"></ion-img>
          <ion-label> product one</ion-label>
          <ion-label> unit price BDT 320</ion-label>
          <div class="actions">
            <ion-button>
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-label>1</ion-label>
            <ion-button>
              <ion-icon name="remove"></ion-icon>
            </ion-button>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
